<!DOCTYPE html>
<html>
<head>
    <title>Pages</title>
    <link
      rel="stylesheet"
      href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap/5.2.2/css/bootstrap.min.css"
    />
</head>
<body>
<div class="container">
    <h1 class="text-center mt-5">قائمة الصفحات التي في قائمة الانتظار الحالية</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">العدد الاجمالي</h5>
                    <p class="card-text">{{ total_count }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">عدد الصفحات التي في حالة الانتظار</h5>
                    <p class="card-text">{{ status_0_count }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">عدد الصفحات التي في حاله الفحص الان</h5>
                    <p class="card-text">{{ status_1_count }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>العنوان</th>
                </tr>
                </thead>
                <tbody>
                {% for page in pages_list %}
                <tr>
                    <td>
                        <a target="_blank" href="https://ar.wikipedia.org/wiki/{{ page[0] }}">
                            {{ page[0] }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.6.1/jquery.slim.min.js"></script>
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/popper.js/2.11.6/cjs/popper.min.js"></script>
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap/5.2.2/js/bootstrap.min.js"></script>

</body>
</html>
