{% extends 'base.html' %}


{% block content %}
    <h1 class="my-2">قائمة الصفحات</h1>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('tasks.task_index',name='maintenance') }}"> تتبع حالة المهمة (بوت:صيانة
                المقالات)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('tasks.task_index',name='webcite') }}">تتبع حالة المهمة (بوت:الإبلاغ عن
                رابط معطوب أو مؤرشف)</a>
        </li>
    </ul>
    <h1 class="my-2">قائمة الأدوات</h1>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('words_count_page.words_count_tool') }}">حساب عدد الكلمات</a>
        </li>
    </ul>
{% endblock %}